<ion-header>
  <ion-toolbar>
    <ion-title>LOGIN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img  src="/assets/h.png" High="30px" Width="40px" ></ion-img> 
  <form ngSubmit=login(Forma) #Forma="ngForm">
    <div class="centrar" >
    <ion-item>
    <ion-input  placeholder="usuario" ngModel #email="ngModel" name="email" type="Text" required minlength="3" maxlength="50"></ion-input>
    </ion-item>
    <ion-item>
    <ion-input  placeholder="contraseña" ngModel #password="ngModel" name="password"  type="password" required minlength="3"maxlength="50"></ion-input>
   </ion-item> </div>
    <div class="boton" class="centrado"><ion-button class="Ingresar" color="success"  href="home/tabs/tab1" type="submit" [disabled]=!Forma.valid >ingresar</ion-button><br><br>
    ¿aun no tienes usuario?<br>
    <ion-button class="Registrate" color="primary"  href="recorder" type="submit" >Registrate</ion-button> </div>
  </form>
</ion-content>
