<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="/assets/g.png" High="60px" Width="80px" ></ion-img> 
  <form ngSubmit=login(Forma) #Forma="ngForm">
    <ion-item>
    <ion-input  placeholder="usuario" ngModel #email="ngModel" name="email" type="email" required minlength="3" maxlength="50"></ion-input>
    </ion-item>
    <ion-item>
    <ion-input  placeholder="contraseña" ngModel #password="ngModel" name="password"  type="password" required minlength="3"maxlength="50"></ion-input>
    </ion-item>
    <ion-button href="home/tabs/tab1" type="submit" [disabled]=!Forma.valid >ingresar</ion-button> 
  </form>
</ion-content>
