.centrado{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .boton{
    font-size:30px;
    font-family:Verdana,Helvetica;
    color:white;
    border:0px;
    width:90px;
    height:19px;
   }
.centrar{

    margin: 20%;
  }
  .buttonIngresar{
    color:red;
    size:#2eb398
    }
