<ion-header>
  <ion-toolbar>
    <ion-title>
      PANZEROTY
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/ion1.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>comidas rapidas</ion-card-subtitle>
        <ion-card-title>¿tienes una mal dia? ven y disfrua de nuestras comidas, de seguro alegrara tu dia</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>en esta pagina podras encontrar gran variedad de comidas rapidas, tendras toda la comida que desees en tus propias manos</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>menus del dia</ion-label>
      </ion-list-header>
      <ion-item href="https://ionicframework.com/docs/">
        <ion-icon ios="ios-pizza" md="md-pizza"></ion-icon>
        <ion-label>PIZZA</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/building/scaffolding">
        <ion-icon ios="ios-beer" md="md-beer"></ion-icon>
        <ion-label>BEBIDAS</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/layout/structure">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>HAMBURGUESA</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/theming/basics">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>PANZEROTY</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
