.centrado{
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
.fondo{
    background-color:white;
    font-family: cursive;
    text-align: center;
    color: gray;
}