<ion-header>
  <ion-toolbar color="success">
    <ion-title  ><ion-icon name="menu"></ion-icon>choosePark</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <div class="fondo">
   <pre>
    
    selecciona el parque al cual vas a
    realizarle el inventario de acuerdo
    a tu ibicacion

   </pre>
  </div>
    <ion-button color=white href="/parksimon" style="height: 80px"><ion-img  src="/assets/p.png" High="5px" Width="60 px" ></ion-img></ion-button>
    <ion-button color=white  style="height: 80px"><ion-img  src="/assets/p1.png" High="5px" Width="60 px" ></ion-img></ion-button>
</ion-content>
